<div class="setting--modal">
        <div class="modal">
          <div class="modal--container__large">
            <div class="modal--header">
              <img src="/assets/images/iconfinder_close16_216470.png" />
            </div>
      
            <div class="modal--content">
              <div class="content--list">
                <div class="content--button">
                  <img
                    id="save"
                    src="/assets/images/iconfinder_158-Save_2123968.png"
                  />
                  <img
                    id="delete"
                    src="/assets/images/iconfinder_52-Bin_2123879.png"
                  />
                  <img
                    id="add"
                    src="/assets/images/iconfinder_outlined_edit_4280532.png"
                  />
                </div>
      
                <table>
                  <thead>
                    <tr>
                      <th><input type="checkbox" class="all" /></th>
                      <th>name</th>
                      <th>weight</th>
                      <th>set</th>
                      <th>pick</th>
                    </tr>
                  </thead>
      
                  <tbody></tbody>
                </table>
              </div>
              <div class="pagination"></div>
            </div>
      
            <div class="modal--footer"></div>
          </div>
        </div>
      </div>
      