.excercise {
  position: absolute;
  left: 10%;
  right: 10%;
}
.excercise input {
  font-size: 1.2em;
  width: 100%;
  height: 24px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  padding-right: 24px;
}
.excercise input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cccccc;
}

.excercise img {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
}
