.wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.record {
  position: absolute;
  left: 10%;
  right: 10%;
}

.name,
.reps,
.weight {
  position: relative;
  width: 100%;
  height: 24px;
  margin-bottom: 2px;
}

.record input {
  font-size: 1.2em;
  width: 100%;
  height: 24px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  padding-right: 24px;
}

.record input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cccccc;
}

.record img {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
}

.reps {
  margin-bottom: 10px;
}
